In [1]:
import pandas as pd
import numpy as np

In [2]:
df= pd.read_csv('shortened_data.csv')

In [3]:
df.head()

,Unnamed: 0,title,year,kind,genre,rating,vote,country,language,cast,director,writer,runtime
0,0,8 Man,1992.0,movie,"['Action', 'Sci-Fi']",5.5,93.0,['Japan'],['Japanese'],"['Kai Shishido', 'Etsushi Takahashi', 'Sachiko...",['Yasuhiro Horiuchi'],"['Kazumasa Hirai', 'Jirô Kuwata', 'Junko Suzuki']",99.984113
1,1,What the #$*! Do We (K)now!?,2004.0,movie,"['Documentary', 'Comedy', 'Drama', 'Fantasy', ...",5.3,13432.0,['United States'],"['English', 'German', 'Spanish']","['Marlee Matlin', 'Elaine Hendrix', 'John Ross...","['William Arntz', 'Betsy Chasse', 'Mark Vicente']","['William Arntz', 'Betsy Chasse', 'Matthew Hof...",60.000000
2,2,Class of Nuke 'Em High Part II: Subhumanoid Me...,1991.0,movie,"['Comedy', 'Horror', 'Sci-Fi']",4.5,2177.0,['United States'],['English'],"['Brick Bronsky', 'Lisa Gaye', 'Leesa Rowland'...",['Eric Louzil'],"['Lloyd Kaufman', 'Carl Morano', 'Matt Unger']",96.000000
3,3,Neil Diamond: Greatest Hits Live,1988.0,video movie,"['Documentary', 'Music']",8.0,81.0,['United States'],['English'],"['Neil Diamond', 'Richard Bennett', 'Vince Cha...","['Dwight Hemion', 'Peter Israelson']","['Kenny Solms', 'Ann Elder', 'Toem Perew']",55.000000
4,4,7 Seconds,2005.0,video movie,"['Action', 'Comedy', 'Crime', 'Thriller']",4.8,7153.0,"['United Kingdom', 'Romania', 'Switzerland', '...",['English'],"['Wesley Snipes', 'Tamzin Outhwaite', 'Deobia ...",['Simon Fellows'],['Martin Wheeler'],118.000000

In [4]:
df.drop('Unnamed: 0',axis = 1,inplace = True)

In [5]:
df.shape

(1000, 12)

In [6]:
df['genre'] = df['genre'].apply(lambda x : x[1:-1].split(', ')[0][1:-1])
df['country'] = df['country'].apply(lambda x : x[1:-1].split(', ')[0][1:-1])
df['language'] = df['language'].apply(lambda x : x[1:-1].split(', ')[0][1:-1])
df['cast'] = df['cast'].apply(lambda x : x[1:-1].split(', ')[0][1:-1])
df['director'] = df['director'].apply(lambda x : x[1:-1].split(', ')[0][1:-1])
df['writer'] = df['writer'].apply(lambda x : x[1:-1].split(', ')[0][1:-1])

In [7]:
df.head()

,title,year,kind,genre,rating,vote,country,language,cast,director,writer,runtime
0,8 Man,1992.0,movie,Action,5.5,93.0,Japan,Japanese,Kai Shishido,Yasuhiro Horiuchi,Kazumasa Hirai,99.984113
1,What the #$*! Do We (K)now!?,2004.0,movie,Documentary,5.3,13432.0,United States,English,Marlee Matlin,William Arntz,William Arntz,60.000000
2,Class of Nuke 'Em High Part II: Subhumanoid Me...,1991.0,movie,Comedy,4.5,2177.0,United States,English,Brick Bronsky,Eric Louzil,Lloyd Kaufman,96.000000
3,Neil Diamond: Greatest Hits Live,1988.0,video movie,Documentary,8.0,81.0,United States,English,Neil Diamond,Dwight Hemion,Kenny Solms,55.000000
4,7 Seconds,2005.0,video movie,Action,4.8,7153.0,United Kingdom,English,Wesley Snipes,Simon Fellows,Martin Wheeler,118.000000

In [8]:
df['runtime'].astype('int').value_counts()

99     84
90     48
60     32
30     31
100    26
       ..
63      1
489     1
170     1
201     1
126     1
Name: runtime, Length: 166, dtype: int64

## Kmeans clustering

In [9]:
from sklearn import preprocessing
from sklearn.cluster import KMeans
from sklearn.preprocessing import MinMaxScaler

In [10]:
fv = pd.read_csv('shorten_single.csv')
temp = pd.read_csv('shorten_single.csv')

In [11]:
fv = fv.drop(['Unnamed: 0','title'],axis = 1)
fv.head()

,year,kind,genre,rating,vote,country,language,cast,director,writer,runtime
0,1992.0,movie,Action,5.5,93.0,Japan,Japanese,Kai Shishido,Yasuhiro Horiuchi,Kazumasa Hirai,99.984113
1,2004.0,movie,Documentary,5.3,13432.0,United States,English,Marlee Matlin,William Arntz,William Arntz,60.000000
2,1991.0,movie,Comedy,4.5,2177.0,United States,English,Brick Bronsky,Eric Louzil,Lloyd Kaufman,96.000000
3,1988.0,video movie,Documentary,8.0,81.0,United States,English,Neil Diamond,Dwight Hemion,Kenny Solms,55.000000
4,2005.0,video movie,Action,4.8,7153.0,United Kingdom,English,Wesley Snipes,Simon Fellows,Martin Wheeler,118.000000

In [12]:
le = preprocessing.LabelEncoder()
"""fv['genre'] = fv['genre'].apply(lambda x : x[1:-1].split(', ')[0][1:-1])
fv['country'] = fv['country'].apply(lambda x : x[1:-1].split(', ')[0][1:-1])
fv['language'] = fv['language'].apply(lambda x : x[1:-1].split(', ')[0][1:-1])
fv['director'] = fv['director'].apply(lambda x : x[1:-1].split(', ')[0][1:-1])
fv['cast'] = fv['cast'].apply(lambda x : x[1:-1].split(', ')[0][1:-1])
fv['writer'] = fv['writer'].apply(lambda x : x[1:-1].split(', ')[0][1:-1])"""

fv['genre'] = le.fit_transform(fv['genre'])
fv['kind'] = le.fit_transform(fv['kind'])
fv['director'] = le.fit_transform(fv['director'])
fv['country'] = le.fit_transform(fv['country'])
fv['language'] = le.fit_transform(fv['language'])
fv['cast'] = le.fit_transform(fv['cast'])
fv['writer'] = le.fit_transform(fv['writer'])

In [13]:
fv.head()

,year,kind,genre,rating,vote,country,language,cast,director,writer,runtime
0,1992.0,1,0,5.5,93.0,26,20,438,857,485,99.984113
1,2004.0,1,6,5.3,13432.0,45,8,527,845,883,60.000000
2,1991.0,1,4,4.5,2177.0,45,8,89,213,539,96.000000
3,1988.0,4,6,8.0,81.0,45,8,589,203,501,55.000000
4,2005.0,4,0,4.8,7153.0,44,8,834,754,575,118.000000

In [14]:
scaler = MinMaxScaler((0,1))
fv = scaler.fit_transform(fv)
kmeans = KMeans(n_clusters=40).fit(fv)
fr = []
for i in range(len(fv)):
    fr.append([kmeans.predict(np.reshape(fv[i],(1,-1)))[0],temp['title'][i],i])
fr = pd.DataFrame(data = fr , columns = ['cluster','title','index'])

In [15]:
fr

     cluster                                              title  index
0         29                                              8 Man      0
1          9                       What the #$*! Do We (K)now!?      1
2          8  Class of Nuke 'Em High Part II: Subhumanoid Me...      2
3         19                   Neil Diamond: Greatest Hits Live      3
4          6                                          7 Seconds      4
..       ...                                                ...    ...
995        8                                         The Jackal    995
996        6                          Leprechaun 5: In the Hood    996
997       33             George Carlin: Complaints & Grievances    997
998        4                       Gospel According to Al Green    998
999       34                  Santa Claus Conquers the Martians    999

[1000 rows x 3 columns]

## Cosine Similarity

In [16]:
from sklearn.feature_extraction.text import CountVectorizer
from sklearn.metrics.pairwise import cosine_similarity

In [17]:
def combine_features(row):
    return row['title']+" "+row['year']+" "+row['kind']+" "+row['genre'] + " " + row['country'] + " "+row['language'] + ' ' + row['cast'] + " " + row['director']+" "+row['writer']

In [18]:
def get_title_from_index(df,index):
    return df[df['index'] == index]["title"].values[0]
def get_index_from_title(df,title):
    return df[df.title == title]['index'].values[0]

In [23]:
def output(df,count_matrix,movie):
    cosine_sim = cosine_similarity(count_matrix)
    movie_index = get_index_from_title(df,movie)
    similar_movies = list(enumerate(cosine_sim[movie_index]))
    sorted_similar_movies = sorted(similar_movies,key=lambda x:x[1],reverse=True)[1:]
    i=0
    out = []
    for element in sorted_similar_movies:
        try:
            out.append(get_title_from_index(df,element[0]))
            i=i+1
            if i>20:
                break
        except:
            continue
    return out

In [24]:
def cs_predict(movies,movie):
    df = pd.read_csv('shortened_data.csv')
    df = df.iloc[movies]
    df = df.drop(['Unnamed: 0'],axis = 1)
    df = df.reset_index()
    df = df.drop(['index'],axis = 1)
    df = df.rename_axis('index').reset_index()
    df['year']=df['year'].astype('int')
    features = ['title','year','kind','genre','country','language','cast','director','writer']
    df['genre'] = df['genre'].apply(lambda x : x[1:-1])
    df['country'] = df['country'].apply(lambda x : x[1:-1])
    df['language'] = df['language'].apply(lambda x : x[1:-1])
    df['cast'] = df['cast'].apply(lambda x : x[1:-1])
    df['director'] = df['director'].apply(lambda x : x[1:-1])
    df['writer'] = df['writer'].apply(lambda x : x[1:-1])
    df['year'] = df['year'].astype(str)
    df["combined_features"] = df.apply(combine_features,axis=1)
    cv = CountVectorizer()
    count_matrix = cv.fit_transform(df["combined_features"])
    result = output(df,count_matrix,movie)
    return result

In [25]:
def predict(movie,kmeans,fr,fv):
    p = fr[fr['title'] == movie]['index'].iloc[0]
    cl = kmeans.predict(np.reshape(fv[p],(1,-1)))[0]
    if cl == 0 :
        movies = cs_predict(list(fr[(fr['cluster'] == cl) | (fr['cluster'] == cl + 1) | (fr['cluster'] == cl+2)]['index']),movie)
    else:
        movies = cs_predict(list(fr[(fr['cluster'] == cl) | (fr['cluster'] == cl + 1) | (fr['cluster'] == cl-1)]['index']),movie)
    return movies

In [56]:
movie = 'The Last Metro'
movies = predict(movie,kmeans,fr,fv)
movies

['Confidentially Yours',
 'Le Cercle Rouge',
 'Story of Women',
 'The Night of the Hunted',
 'A Woman Is a Woman',
 'In Praise of Love',
 'The Story of O',
 'Cléo from 5 to 7',
 'Fascination',
 'Torment',
 'Swimming Pool',
 'Quest for Fire',
 'Rififi',
 'La séparation',
 'Get Out Your Handkerchiefs',
 'The Chorus',
 'Ma mère',
 'The Valley (Obscured by Clouds)',
 'The Decline of the American Empire',
 'Carmen',
 'Beau travail']